$backgroundColor: aliceblue;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.directors-dialog {
  background-color: $cardColor;
  margin-top: 0;
  box-shadow: none;
}

.directors-dialog-title {
  color: $textColor;
}

.directors-dialog-content {
  color: $textColor;
}

::ng-deep .directors-custom>mat-dialog-container {
  background-color: $cardColor;
}

.directors-close-button.mat-stroked-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

.directors-close-button:hover {
  color: red;
}